<%= form_for(@nominate) do |f| %>
  <% if @nominate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nominate.errors.count, "error") %> prohibited this nominate from being saved:</h2>

      <ul>
      <% @nominate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'Your First Name*' %><br>
    <%= f.text_field :yourname, :required => true  %>
  </div>
  <div class="field">
    <%= f.label 'Your Last Name*' %><br>
    <%= f.text_field :lastname, :required => true  %>
  </div>
  <div class="field">
    <%= f.label 'Your Company Name*' %><br>
    <%= f.text_field :yourbiz, :required => true  %>
  </div>
  <div class="field">
    <%= f.label 'Your Email*' %><br>
    <%= f.text_field :youremail, :required => true  %>
  </div>
  <div class="field">
    <%= f.label 'Referral First Name*' %><br>
    <%= f.text_field :referralname, :required => true  %>
  </div>
  <div class="field">
    <%= f.label 'Referral Last Name*' %><br>
    <%= f.text_field :referrallastname, :required => true  %>
  </div>
    <div class="field">
    <%= f.label 'Referral Company Name*' %><br>
    <%= f.text_field :referralbiz, :required => true  %>
  </div>
  <div class="field">
    <%= f.label 'Referral Email*' %><br>
    <%= f.text_field :referralemail, :required => true  %>
  </div>
  <div class="field">
    <%= f.label 'Referral State'%><br>
   <%=f.select :state, options_for_select(us_states) %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit Nomination", :class => 'buttonclass' %>
  </div>
<% end %>
