

<!-- THIS IS ADMIN ONLY  -->

<h2 style="margin-top: 85px; margin-left: 270px; color: white">My Nominations</h1>
<style>
table, th, td {
    background-color: #383838;
    border: 1px solid black;
    border-collapse: collapse;
    border-color: #383838;
    width: 100px;
    height: 20px;
    margin-left: 270px;
    padding: 6px;
    font-family:Arial;
    color: white;
    opacity: 0.93;
    filter: alpha(opacity=93);
    position: relative;
    text-align:center;
}
</style>
<table>
  <thead>
    <tr>
      <th>Nominator Name</th>
      <th>Nominator Company</th>
      <th>Nominator Email</th>
      <th>Referral Name</th>
      <th>Referral Company</th>
      <th>Referral Email</th>
      <th>Referral State</th>
    </tr>
  </thead>

  <tbody>
    <% @nominates.each do |nominate| %>
      <tr>
        <td><%= nominate.yourname %>
        <br><%= nominate.lastname %></td>
        <td><%= nominate.yourbiz %></td>
        <td><%= nominate.youremail %></td>
        <td><%= nominate.referralname %>
        <br><%= nominate.referrallastname %></td>
        <td><%= nominate.referralbiz %></td>
        <td><%= nominate.referralemail %></td>
        <td><%= nominate.state %></td>
        <!--<td><%= link_to 'Show', nominate %></td>
        <td><%= link_to 'Edit', edit_nominate_path(nominate) %></td>
        <td><%= link_to 'Destroy', nominate, method: :delete, data: { confirm: 'Are you sure?' } %> </td>-->
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p style= "margin-left:280px; color:white">
  Download:
  <%= link_to "CSV", nominates_path(format: "csv") %>
  <%= link_to "Excel", nominates_path(format: "xls") %>
</p>
