<p id="notice"><%= notice %></p>
<p>
  <strong>Your First Name:</strong>
  <%= @nominate.yourname %>
</p>

<p>
  <strong>Your Last Name</strong>
  <%= @nominate.yourbiz %>
</p>

<p>
  <strong>Your Company Name:</strong>
  <%= @nominate.yourbiz %>
</p>

<p>
  <strong>Your Email:</strong>
  <%= @nominate.youremail %>
</p>
<br>
<br>
<br>
<p>
  <strong>Referral First Name:</strong>
  <%= @nominate.referralname %>
</p>
<p>
  <strong>Referral Last Name:</strong>
  <%= @nominate.referrallastname %>
</p>
<p>
  <strong>Referral Company Name:</strong>
  <%= @nominate.referralbiz %>
</p>

<p>
  <strong>Referral Email:</strong>
  <%= @nominate.referralemail %>
</p>

<p>
  <strong>Referral Company State:</strong>
  <%= @nominate.referralstate %>
</p>
<br>
<br>
<p><%= link_to 'Nominate Another Business?', new_nominate_path %></p>
<p><%= link_to 'Edit', edit_nominate_path(@nominate) %> </p>
<p><%= link_to 'Back', nominates_path %></p>
